.background {
  background-color: #0a0a0a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 800px;
}

.button {
  align-self: flex-start;
  padding-left: 0;
}
