.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.social_links {
  display: flex;
  padding: 16px;
  flex-direction: column;
  border-radius: 16px;
  background: #141313;
}
